body {
	background: #2f3344;
	font-family: anaheim,sans-serif;
	color: #737f8a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-weight:400;
 font-family:quattrocento sans,sans-serif;
 color:#afbac4;
}


a[target=_blank] {
	color: #57cbcc;
}

a[target=_blank]:hover {
	color: #45a2a3;
	text-decoration: underline solid #45a2a3;
}


.table a[href].btn-info {
	color: #fff;
}

.table {
  color: #afbac4;
}

.table a[href] {
	color: #57cbcc;
}

.table a[href]:hover {
	color: #45a2a3;
	text-decoration: underline solid #45a2a3;
}

.btn-success {
	color: #fff;
	background-color: #bdd090;
	border-color: #bdd090;
}

.btn-success:hover, .btn-success:focus, .btn-success:not(:disabled):not(.disabled):active {
	background-color: #93a270;
	border-color: #93a270;
}

.btn-info {
	background-color: #57cbcc;
	border-color: #57cbcc
}

.btn-info:hover, a.btn-info[href]:not(:disabled):not(.disabled):active, .btn-info:focus {
	background-color: #45a2a3;
	border-color: #45a2a3;
}

.card {
	background: #242930;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
 	border-top:2px solid #d3e8a0;
 	background-color:#2f383d;
 	color:#d3e8a0;
}

.nav-tabs .nav-link[href] {
	margin-bottom:0px;
	background-color:#4a535a;
}

.nav-tabs .nav-link:hover:not(.active) {
	color: #a8b980;
	border-color: #d3e8a0;
}

.dropdown {
  color: #afbac4;
}

